body {
      font-family: Times New Roman, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: lightseagreen;
    }
    h1 {
      text-align: center;
      color: black;
    }
    h2 {
      color: black;
      border-bottom: 1px solid;
      padding-bottom: 5px;
      margin-top: 30px;
    }

    p {
      padding: 10px;
      color: rebeccapurple;
    }

  ul {
  color: rebeccapurple;
  padding-left: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  background-color: Lightblue;
  padding: 20px;
  border-radius: 8px;
}